/build_s3eandroidgoogleplaybilling_vc11/
/build_s3eandroidgoogleplaybilling_vc10/
/data-ram/
/project_s3eAndroidGooglePlayBilling/
/build_s3eopeniabdemo_vc10/
/project_s3eOpenIabDemo/
/build_s3eopeniabdemo_vc11/
